<h1>Where do you want to go today?</h1>
<h3>I'd like to...</h3>
<ul>
  <li>
    Go to the warehouse and...
    <ul>
      <li> <%= link_to "look at SKUs", warehouse_skus_path %></li>
      <li> <%= link_to "request a package!", new_warehouse_order_path %></li>
    </ul>
  </li>
  <li>
    Stop by the post office and...
    <ul>
      <li> <%= link_to "send someone a letter!", new_letter_path %></li>
      <li> <%= link_to "send a lot of people a lot of letters?", new_letter_batch_path %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Visit", public_root_path %> the public-facing site...
  </li>
  <li>
    <%= link_to "Look something up", public_ids_path %> by ID...
  </li>
  <li>
    generate a <%= link_to "customs receipt", customs_receipts_path %>...
  </li>
</ul>