<% if false %>
<div class="window" style="width: 300px; margin-bottom: 1rem;">
  <div class="title-bar">
    <div class="title-bar-text">Letter <%= letter.public_id %></div>
    <div class="title-bar-controls">
      <%= w95_title_button_to "Maximize", public_letter_path(letter) %>
    </div>
  </div>
  <div class="window-body">
    <div>
      <b>Status:</b>
      <%= letter.aasm_state.humanize %>
    </div>
  </div>
</div>
<% end %>

<tr>
  <td><%= letter.created_at.strftime("%Y-%m-%d") %></td>
  <td>
    Letter:  <%= letter.display_name %>
  </td>
  <td><%= letter.aasm_state.humanize %></td>
  <td>
    <%= link_to "Open", public_letter_path(letter), 
        onclick: "openIframeWindow(this.href, 'Letter: #{letter.display_name}'); return false;", class: 'open-link' %>
  </td>
</tr>