<% orders.each do |order| %>
  <article class="card mb-4">
    <div class="card-header">
      <h3 class="mb-0">
        <%= link_to order.hc_id, order %> – <%= order.user_facing_title %>
        <%= render 'warehouse/orders/status_badge', order: order %>
      </h3>
    </div>
    <div class="card-body">
      <div class="md:grid-cols-2 gap-4">
        <div>
          <span class="text-gray-500">Recipient:</span>
          <%= order.address.name_line %> (<%= order.recipient_email %>)
        </div>
        <div>
          <span class="text-gray-500">Tags:</span>
          <%= render 'shared/tags', tags: order.tags %>
        </div>
      </div>
    </div>
  </article>
<% end %> 