<h1>New API key</h1>
<%= form_with model: @api_key do |f| %>
  <fieldset>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <small>short description of what it's for – think "high-seas"</small>
  </fieldset>
  <fieldset>
    <%= f.label :pii, "PII access?" %>
    <%= f.check_box :pii %>
    <label for="api_key_pii">
      should this key be able to read address data? <small><small>(probably not!)</small></small>
    </label>
  </fieldset>
  <% admin_tool do %>
    <fieldset>
      <%= f.label :qz_only, "QZ Tray only?" %>
      <%= f.check_box :qz_only %>
      <label for="api_key_qz_only">
        restrict this key to QZ Tray endpoints only?
        <small><small>(for printer auth)</small></small>
      </label>
    </fieldset>
    <fieldset>
      <%= f.label :may_impersonate, "Can impersonate?" %>
      <%= f.check_box :may_impersonate %>
      <label for="api_key_may_impersonate">
        can this key impersonate other back office users?
        <small>
          <small>
            (don't enable this unless you actually need it)
          </small>
        </small>
      </label>
    </fieldset>
  <% end %>
  <%= f.submit "create API key!", class: "btn success btn-small" %>
<% end %>