<tr>
  <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
  <td>
    <% if order.user_facing_title %>
      Warehouse: <%= order.user_facing_title %>
    <% else %>
      Warehouse shipment <%= order.public_id %>
    <% end %>
  </td>
  <td><%= order.humanized_state %></td>
  <td>
    <%= link_to "Open", public_package_path(order), 
        onclick: "openIframeWindow(this.href, 'Warehouse: #{order.user_facing_title || order.public_id}'); return false;", class: 'open-link' %>
  </td>
</tr>