<div id="<%= dom_id indicium %>">
  <p>
    <strong>Processing category:</strong>
    <%= indicium.processing_category %>
  </p>

  <p>
    <strong>Postage weight:</strong>
    <%= indicium.postage_weight %>
  </p>

  <p>
    <strong>Postage length:</strong>
    <%= indicium.postage_length %>
  </p>

  <p>
    <strong>Postage height:</strong>
    <%= indicium.postage_height %>
  </p>

  <p>
    <strong>Postage thickness:</strong>
    <%= indicium.postage_thickness %>
  </p>

  <p>
    <strong>Nonmachinable:</strong>
    <%= indicium.nonmachinable %>
  </p>

  <p>
    <strong>USPS sku:</strong>
    <%= indicium.usps_sku %>
  </p>

  <p>
    <strong>Raw USPS response:</strong>
    <%= indicium.raw_usps_response %>
  </p>

  <p>
    <strong>Postage:</strong>
    <%= indicium.postage %>
  </p>

  <p>
    <strong>Mailing date:</strong>
    <%= indicium.mailing_date %>
  </p>

</div>
