<div class="table-container">
  <table class="table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% addresses.each do |address| %>
        <tr>
          <td data-label="Name">
            <%= "#{address.first_name} #{address.last_name}" %>
          </td>
          <td data-label="Address">
            <%= address.line_1 %>
            <% if address.line_2.present? %>
              <br><%= address.line_2 %>
            <% end %>
          </td>
          <td data-label="City"><%= address.city %></td>
          <td data-label="State"><%= address.state %></td>
          <td data-label="Postal Code"><%= address.postal_code %></td>
          <td data-label="Country"><%= address.country %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 